# Wprowadzenie

Python jest językiem nie tylko bardzo popularnym. W pażdzierniku 2023 zarówno wg.

- PYPL PopularitY of Programming Language https://pypl.github.io/PYPL.html jak i
- TIOBE Index https://www.tiobe.com/tiobe-index/
  zajmował on pierwsze miejsce wśród języków programowania. Co więcej, dynamika wzrostu począwszy od 2018 roku jest największa wśród wszystkich pozostałych języków programowania.

Python jest przede wszystkim językiem bardzo uniwersalnym, a jego rola w ogólnie rozumianej analizie i przetwarzaniu danych z roku na rok jest coraz większa.

Nic więc dziwnego, że świat Big Data, który przez lata był zarezerwowany dla Javy oraz języków, które dają się kompilować do kodu bajtowego Javy, otwiera się na Pythona (patrz Spark czy Flink).

W ramach warsztatu postaramy się dokonać krótkiego przeglądu niektórych typów i bibliotek, które wykorzystywane są w Pythonie do przetwarzania danych.

# Dane

Aby przetwarzać jakieś dane, przydałoby się je mieć. Python zawiera niezliczone biblioteki, przydatne praktycznie w każdym przypadku. Również w kontekście dostępu do przykładowych danych.

Przykładowe biblioteki w których można takie dane znaleźć to `PyDataset`, `seaborn` czy `sklearn` (`scikit-learn`). Te dwie ostatnie główny cel mają oczywiście inny (wizualizacja danych, ML).

Przyglądnijmy się pierwszemu z pakietów.

In [18]:
%%sh
pip install pydataset

DEPRECATION: Loading egg at c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages\labelimg-1.8.6-py3.12.egg is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330
DEPRECATION: Loading egg at c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages\lxml-5.2.2-py3.12-win-amd64.egg is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330

Requirement already satisfied: pydataset in c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages (from pydataset) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages (from pandas->pydataset) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages (from pandas->pydataset) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages (from pandas->pydataset) (2022.7.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages (from pandas->pydataset) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\miknowak\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas->pydataset) (1.16.0)

In [19]:
from pydataset import data

Zobaczmy jakie zbiory są dostępne

In [20]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

Sporo tego, przydałoby się coś wybrać - dokonać jakieś selekcji tych danych. Aby to zrobić dowiedzmy się co tak naprawdę zostało wyświetlone.

In [21]:
type(data())

pandas.core.frame.DataFrame

Do pakietu `Pandas` dojdziemy w swoim czasie, teraz skorzystamy z czegoś znacznie prostszego.

Biblioteka `pytz` dostarcza informacje na temat stref czasowych.

In [22]:
import pytz

allTZ = list(pytz.common_timezones)

type(allTZ)

list

In [23]:
allTZ[:10]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre']

# Listy

**Zadanie 1**<br>
Napisz funkcję `australiaZones(tzs)`, która będzie dawała w wyniku listę:

- zawierającą elementy źródłowej listy `tzs`, których wartości rozpoczynają się od ciągu znaków „Australia/”)
- w docelowych wartościach nie będzie posiadała początkowego fragmentu „Australia/”
- będzie posortowana alfabetycznie (załóż, że źródłowe dane nie są posortowane)

In [24]:
def australiaZones(tzs):
    a = "Australia/"
    l = list(map(lambda tz: tz[len(a):], filter(lambda tz: tz.startswith(a), tzs)))
    l.sort()
    return l

In [25]:
australiaZones(pytz.common_timezones)

['Adelaide',
 'Brisbane',
 'Broken_Hill',
 'Darwin',
 'Eucla',
 'Hobart',
 'Lindeman',
 'Lord_Howe',
 'Melbourne',
 'Perth',
 'Sydney']

# Słowniki

**Zadanie 2**<br>
Załóż, że każda nazwa strefy czasowej rozpoczyna się od nazwy regionu świata (ma format `RegionŚwiata/Miejsce`). <br>
Napisz funkcję `howManyZonesInRegions(tzs)`, która dla każdego regionu wyznaczy liczbę stref czasowych, które w nim funkcjonują. <br>
Koniecznie odrzuć te nazwy źródłowych stref (z `tzs`), które nie są zgodne z wzorcem (nie posiadają znaku „/”).

In [26]:
def howManyZonesInRegions(tzs):
    d = {}
    tzwr = list(map(lambda tz: (tz[:tz.find("/")], 1), filter(lambda tz: "/" in tz, tzs)))
    for key, value in tzwr:
        d[key] = d.get(key, 0) + value
    return d

In [27]:
howManyZonesInRegions(pytz.common_timezones)

{'Africa': 52,
 'America': 144,
 'Antarctica': 11,
 'Arctic': 1,
 'Asia': 83,
 'Atlantic': 10,
 'Australia': 11,
 'Canada': 6,
 'Europe': 58,
 'Indian': 11,
 'Pacific': 38,
 'US': 7}

- Funkcja `pytz.country_names` zwraca słownik, który dla każdego symbolu (ISO Alpha 2 code) państwa zawiera jego nazwę.
- Funkcja `pytz.country_timezones` zwraca słownik, który dla każdego symbolu (ISO Alpha 2 code) państwa zawiera listę stref czasowych, jakie na ich terenie obowiązują.

**Zadanie 3**<br>
Napisz funkcję `getCntryCode(cntryName)`, która dla nazwy państwa `cntryName` zwróci jego kod. <br>
Napisz funkcję `howManyZones(cntryName)`, która dla nazwy państwa `cntryName` zwróci liczbę stref czasowych, które na jego terenie obowiązują. Skorzystaj z funkcji `getCntryCode`.

In [41]:
def getCntryCode(cntryName): 
    cns = pytz.country_names  # Pobranie słownika krajów i nazw
    
    cntryCodes = list(cns.keys())  # Lista kodów krajów (np. 'PL', 'US')
    cntryNames = list(cns.values())  # Lista nazw krajów (np. 'Poland', 'United States')
    
    # Znajdź indeks podanej nazwy kraju w liście nazw i zwróć odpowiadający mu kod
    return cntryCodes[cntryNames.index(cntryName)]

In [42]:
getCntryCode("Poland")

'PL'

In [46]:
def howManyZones(cntryName):
    return len(pytz.country_timezones[getCntryCode(cntryName)])

In [47]:
howManyZones("Poland")

1

In [48]:
howManyZones("Canada")

24

# pandas

W skład biblioteki `pandas` wchodzą zarówno struktury danych jak i narzędzia które służą do przetwarzania danych.

Główne typy danych to:

- `Series` - indeksowana tablica wartości,
- `DataFrame` - dwuwymiarowa tabela danych.

In [49]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

Za duży wybór. Zobaczmy co udostępnia nam inna z bibliotek.

In [50]:
import seaborn as sns

In [51]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [52]:
sns.load_dataset("penguins")

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

I tym zbiorem danych się zajmiemy. <br>
https://github.com/allisonhorst/palmerpenguins

In [53]:
penguinsDF = sns.load_dataset("penguins")
penguinsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

**Zadanie 4** <br>
Pobierz nazwy gatunków, płeć, wagę oraz wyspę, na której znajdowały się cztery najcięższe pingwiny.

In [54]:
penguinsDF.nlargest(4, columns=["body_mass_g"])[["species", "sex", "body_mass_g", "island"]]

    species   sex  body_mass_g  island
237  Gentoo  Male       6300.0  Biscoe
253  Gentoo  Male       6050.0  Biscoe
297  Gentoo  Male       6000.0  Biscoe
337  Gentoo  Male       6000.0  Biscoe

**Zadanie 5** <br>
Pobierz nazwy gatunków tych pingwinów, których stosunek długości dzioba do jego wysokości (głębokości) był mniejszy niż 2.5.<br>
Nie powtarzaj nazw gatunków.

In [55]:
penguinsDF.loc[lambda df: df["bill_length_mm"] / df["bill_depth_mm"] < 2.5][['species']].drop_duplicates()

       species
0       Adelie
155  Chinstrap

**Zadanie 6**<br>

Dla

- każdego gatunku i
- każdej płci

wyznacz

- liczbę pingwinów,
- średni stosunek długości dzioba do jego wysokości oraz
- średnią wagę, a także
- liczbę wysp, na których je zbadano.

In [58]:
penguinsDF["bill_ratio"] = penguinsDF["bill_length_mm"]/penguinsDF["bill_depth_mm"]

In [ ]:
penguinsDF.groupby(["species", "sex"]).agg(
    how_many=("island", "count"), 
    mean_bill_ratio=("bill_ratio", "mean"),
    mean_mass=("body_mass_g", "mean"),
    unique_islands=("island", "nunique")
)

                  how_many  mean_bill_ratio    mean_mass  unique_islands
species   sex
Adelie    Female        73         2.119121  3368.835616               3
          Male          73         2.123835  4043.493151               3
Chinstrap Female        34         2.651010  3527.205882               1
          Male          34         2.656501  3938.970588               1
Gentoo    Female        58         3.202391  4679.741379               1
          Male          61         3.152081  5484.836066               1